<div class="upload click"
    plupload="url" 
    plupload-options="options"
    plupload-callbacks="callbacks"
    ng-disabled="loading"
    ng-class="{ 'has-error': upload.error }"
>
    <i class="fa fa-plus" title="Upload file"></i>
    <span ng-if="!loading && !upload.error && !upload.complete">{{ label != undefined ? label : "" }}</span>
    <span ng-if="loading">{{ upload.name }}: {{ upload.percent }}% complete...</span>
    <span class="has-error" ng-if="upload.error">{{ upload.name }}: Error!</span>
    <span ng-if="upload.complete">{{ completedLabel ? completedLabel : upload.name }}</span>
</div>