<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ng-repeat="state in states" ng-if="!state.abstract" ng-class="{ 'active': state.active }">
                <a ui-sref="{{state.name}}" class="nav-link" href="#">{{ state | custom_state }}</a>
            </li>
        </ul>
    </nav>
</header>

<ui-view></ui-view>

<footer>

</footer>

<div class="modal" id="file">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ modals.file.name }}</h5>
            <small><em>{{ modals.file.added | date }}</em></small>
        </div>
        <div class="modal-body">
            <p>{{ modals.file.type }}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-action-no" ng-click="closeModal('file')">Close</button>
        </div>
    </div>
</div>